body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f3f8;
}
#setSidebarIsOpen{
  display: none;
}
.site-container {
  min-height: 100vh;
}
#main-hero{
  width: 100%;
  height: 800px;
  background-image: url(../src/assets/bg-main-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
}
header{
  position: relative;
  z-index: 1;
  margin-top: 20px;
  top: 2px;
}
#search-bar {
  width: 300px;
}

#search-outer {
  /* left: 50px; */
}

#search-bar-inner {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid white;
  color: white;
}

#search-bar-inner::placeholder {
  font-weight: 100;
  opacity: 1;
  color: white;
}
.main-bg-captions{
  width: 100%;
  margin: auto;
  height: 400px;
  margin-top: 200px;
}
.main-bg-captions h1{
  font-weight: 600;
  font-size: 52px;
  text-align: left;
}
.main-bg-captions h5{
  font-weight: 300;
}
.main-bg-btn-link{
  padding-left: 0;
}

.nav-options-main{
  display: flex;
  margin-right: 90px;
}
.btn-funky-moon {
  height: 60px;
  width: 180px;
  background: #ecd483;
    /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #e7d186);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e4e39b, #e0af0c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
  border: 3px solid #eee;
  margin-top: 50px;
}
.mt-8{
  margin-top: 50px;
}
.btn-funky-moon p{
  margin-top: 5px;
  font-size: 20px;
}
#about-div{
  position: relative;
  top: 640px;
}
#categories-div{
  position: relative;
  top: 720px
}
#whyus-div{
  position: relative;
  top: 850px
}
#blog-div{
  position: relative;
  top: 1000px
}
.start-learning-link{
  padding: 0;
}
#testimonials-div{
  position: relative;
  top: 1100px
}
footer{
  position: relative;
  top: 1300px;
}
#about-inner-div{
  height: 700px;
}
#about-text-box{
  height: 25%;
  width: 80%;
  margin-left: 20px;
  margin-top: 50px;
}
#about-text-box h1{
  font-weight: 400;
  line-height: 1.5;
  font-size: 40px;
}
.about-text-box-p{
  font-size: 14px;
  font-weight: 300;
  color: black;
}
.about-card-inner{
  width: 85%;
  height: 580px;
  margin-top: 55px;
  margin-left: 50px;
  background-image: url(../src/assets/wallpaper2edit.jpg);
  background-size: cover;
}
.about-card-texts{
  width: 80%;
  margin: auto;
  padding-top: 10px;
}
.about-h1{
  margin-top: 30px;
}
.about-h1 h1{
  font-size: 30px;
  text-align: left;
}
.about-p{
  margin-top: 50px;
  
}
.about-p p{
  text-align: left;
  line-height: 1.5;
}
.about-promo p{
  font-size: 18px;
  color: rgb(230, 226, 38);
}
.about-button-btn{
  height: 50px;
  width: 180px;
  background: linear-gradient(to right, #ddddc6, #e0af0c);
  border: none;
}
.cover-img{
  width: 100%;
  height: 100%;
}
.cover-img img{
  width: 100%;
  height: 100%;
}
.why-us-right{
  background-color: #141c36;
  padding-left: 30px;
}
.why-us-right-header{
  width: 80%;
}
.brands-logo{
  width: 90%;
}
.carousel-control-next-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/512/1549/1549612.png);
}
.carousel-control-prev-icon {
  background-image: url(https://cdn-icons-png.flaticon.com/128/2609/2609370.png);
}
.carousel-control-next,
.carousel-control-prev{
  opacity: 0;
}

/* blog */

.container-blog {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  padding: 0;
}
.blog-img {
  padding: 0;
}
.card-header{
  width: 100%;
  padding: 0;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #545d7a;
}

/* end */

/* testimonials */

.testimonials-section {
  width: 100%;
  min-height: 700px;
}

#main-testimonial-cards {
  margin-top: 50px;
}

#testimonial-card-main {
  border-radius: 15px;
  padding-bottom: 40px;
  background-color: #ffbfbf;
  color: #000000;
}

#testimonial-card-main-two {
  border-radius: 15px;
  padding-bottom: 40px;
  background-color: #ffddab;
  color: #000000;
}

#testimonial-card-main-three {
  border-radius: 15px;
  padding-bottom: 40px;
  background-color: #b3e9cb;
  color: #000000;
}

#testimonial-card-main-four {
  border-radius: 15px;
  padding-bottom: 40px;
  background-color: #99ceff;
  color: #000000;
}

.testimonial-inner {
  height: 70%;
  margin-top: 180px;
  margin-left: 50px;
}

#testimonial-cap {
  margin: auto;
  width: 50%;
}

#testimonial-pfp {
  border-radius: 50%;
  margin-top: 30px;
}

#testimonial-pic {
  height: 120px;
  width: 120px;
}

#testimonial-text {
  margin-top: 30px;
  width: 90%;
}

.test-p {
  font-weight: 100;
  font-size: 13px;
}

.testimonials-carousel {
  margin-top: 80px;
}

/* end */











.skills-p{
  width: 60%;
}
.about-bg-btn{
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
.start-learning-button{
  width: 40%;
}
.parallax-button-trending{
  height: 30px;
  width: 30%;
  text-align: center;
  background: linear-gradient(to right, #e4e39b, #e0af0c);
  border-radius: 15px;

}
/* slider */
#parallax-div{

  position: relative;
  top: 700px;
}
.parallax-row{
  height: 500px;
}
ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
#parallax-inner{
  width: 90%;
  margin-top: 10px;
  margin-left: 20px;
}
.parallax-logo{
  margin: auto;
  width: 50%;
  text-align: center;
}
.parallax-img{
  height: 100px;
  width: 100px;
}
.parallax-header h4{
  color: rgb(83, 82, 5);
}
.parallax-description p{
  font-size: 14px;
}
#parallax-main{
  height: 31rem;
}
#parallax-item{
  display: inline-block;
  height: 30rem;
  margin-left: 10px;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: 24rem;
  background-color: white;
  border-radius: 20px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, .2),
    0 6px 20px 0 rgba(0, 0, 0, .19);
}

.carousel__slide-item-img-link img {
  object-fit: cover;
  transition: all 0.5s ease;
}
.carousel__slide-item-img-link:hover::after {
  opacity: 1;
}

.carousel__slide-item-img-link:hover img {
  transform: scale(1.3);
}

.carousel-slide-item__body {
  bottom: -2.5rem;
  height: 10%;
  position: absolute;
}

.carousel-slide-item__body h4 {
  margin: 0.7rem 0 0;
  text-transform: uppercase;
}

.carousel-slide-item__body p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0.7rem 0 0;
}

.carousel__btn {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn--prev {
  left: -1rem;
}

.carousel__btn--next {
  right: -1rem;
}

.carousel__btn-arrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 20px;
  padding: 3px;
  width: 20px;
  z-index: 10;
}

.carousel__btn-arrow--left {
  transform: rotate(135deg);
}

.carousel__btn-arrow--right {
  transform: rotate(-45deg);
}

.carousel__dots {
  display: block;
  left: 50%;
  bottom: 50px;
  position: absolute;
  transform: translateX(-50%);
}

.carousel__dots .dot {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  margin: 0 0.3rem;
  outline: none;
  transform: scale(0.5);
  width: 2rem;
}

.carousel__dots .dot.active {
  background: black;
}
/* slider end */
/* hoverable nav */
.menu,
.drop-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item h6 {
  text-decoration: none;
  color: #fff;
  display: block;
}

.drop-menu {
  display: none;
  position: absolute;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  min-width: 200px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border: 1px solid white;
  margin-top: 0px;
}

.drop-menu-item {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.drop-menu-item:hover {
  background-color: #f3f2ee;
  /* transition: all 1s ease-in; */
}

.drop-menu-item h6 {
  color: white;
  font-weight: 100;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

.drop-menu-item h6:hover {
  color: #000000;
}

.menu-item:hover {
  transition: all 0.5s ease-in-out;
}

.menu-item-ordinary:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.menu-item:hover .drop-menu {
  transition: all .5s ease-in;
  display: block;

}

/* end */




















main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
  border-radius: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.img-large {
  height: 300px;
  width: 300px;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #0d6efd;
  color: #0d6efd;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}

.full-box header,
.full-box footer {
  display: none;
}

.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}

.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}

.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

button.thumbnail {
  padding: 0;
}
#hero-background{
  
}
#contact-nav{
  margin-right: 70px;
}
.mt-20{
  margin-top: 20px;;
}
#basic-nav-dropdown{
  color: white;
}
#admin-nav-dropdown{
  color:white;
}
#main-container{
  max-width: 1300px;
}
#search-bar{
  width: 500px;
}
#featured-products{
  margin-top: 100px;
}
#main-products{
  margin-top: 100px;
}
product-details-tab {
  margin-bottom: 5rem
}

.product-details-tab .nav.nav-pills .nav-link {
  color: #333333;
  font-size: 1.6rem;
  padding: .55rem 3rem;
  border-bottom-width: .2rem;
  text-transform: capitalize
}

.product-details-tab .nav.nav-pills .nav-link:hover,
.product-details-tab .nav.nav-pills .nav-link:focus {
  color: #0d6efd;
  border-bottom-color: #0d6efd
}

.product-details-tab .nav.nav-pills .nav-item+.nav-item {
  margin-left: 2rem
}

.product-details-tab .tab-content {
  border: .1rem solid #dadada;
  margin-top: -.1rem;
  border-radius: .3rem
}

.product-details-tab .tab-content .tab-pane {
  padding: 2.7rem 3rem
}
.tab-content {
  border: none
}
.tab-content .tab-pane {
  padding: 0
}
.tab-content .tab-pane {
  padding: 2rem 0 0
}
.tab-content-border {
  border: .1rem solid #d7d7d7;
  border-radius: .3rem;
  border-top-left-radius: 0;
  border-top-width: 0
}

.justify-content-center+.tab-content-border {
  border-top-left-radius: .3rem
}

.tab-pane {
  padding: 1.4rem 2.2rem
}

.tab-pane p:last-child {
  margin-bottom: 0
}

.nav.nav-pills .nav-link {
  color: #777;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -.01em;
  padding: .45rem 1rem;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-bottom: .1rem solid transparent;
  background-color: transparent;
  transition: all .35s ease
}

.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus {
  color: #0d6efd
}

.nav.nav-pills .nav-link:focus {
  outline: none !important
}

.nav.nav-pills .nav-item+.nav-item {
  margin-left: 1rem
}

.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
  color: #0d6efd;
  border-color: #3f8cff;
  border-bottom-color: #0d6efd
}

.nav-pills+.tab-content .tab-pane {
  padding: 1.4rem 0
}

.nav-pills+.tab-content .tab-pane p:last-child {
  margin-bottom: 0
}

.tabs-vertical {
  display: flex;
  align-items: flex-start;
  align-items: stretch
}

.tabs-vertical .tab-content-border {
  border-top-width: .1rem;
  border-left-width: 0;
  border-bottom-left-radius: 0
}
.nav-pills+.tab-content .tab-pane {
  padding: 1.4rem 0
}

.nav-pills+.tab-content .tab-pane p:last-child {
  margin-bottom: 0
}

.tabs-vertical {
  display: flex;
  align-items: flex-start;
  align-items: stretch
}

.tabs-vertical .tab-content-border {
  border-top-width: .1rem;
  border-left-width: 0;
  border-bottom-left-radius: 0
}

.tabs-vertical .nav {
  flex-shrink: 0
}

.tabs-vertical .nav .nav-link {
  min-width: 100px
}

.tabs-vertical .nav.nav-tabs {
  border-bottom-width: 0;
  border-right-width: .1rem
}

.tabs-vertical .nav.nav-tabs .nav-link {
  border-top-left-radius: .3rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: .3rem
}

.tabs-vertical .nav.nav-tabs .nav-item {
  margin-bottom: 0;
  margin-right: -1px
}

.tabs-vertical .nav.nav-tabs .nav-item+.nav-item {
  margin-left: 0;
  margin-top: 1px
}

.tabs-vertical .nav.nav-tabs .nav-item.show .nav-link,
.tabs-vertical .nav.nav-tabs .nav-item .nav-link.active {
  border-color: #0d6efd;
  border-right-color: transparent
}

.tabs-vertical .nav.nav-tabs.nav-tabs-bg .nav-link:not(.active) {
  border-color: #ebebeb #d7d7d7 #ebebeb #ebebeb;
  background-color: #fafafa
}

.tab-content.tab-content-carousel>.tab-pane {
  display: block;
  visibility: hidden;
  height: 0 !important
}

.tab-content.tab-content-carousel>.tab-pane:not(.active) {
  overflow: hidden !important
}

.tab-content.tab-content-carousel>.active {
  height: auto !important;
  visibility: visible
}

.nav.nav-border-anim .nav-link {
  position: relative;
  border-bottom: none
}

.nav.nav-border-anim .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1rem;
  background-color: #0d6efd;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform .3s ease
}

.form-tab .nav.nav-border-anim .nav-link:before {
  height: .2rem
}

.nav.nav-border-anim .nav-link.active:before {
  transform-origin: left center;
  transform: scale(1, 1)
}

.nav.nav-border-anim.nav-pills-mobile .nav-link:before {
  height: .2rem
}
.product-details-tab .tab-content {
  border: .1rem solid #dadada;
  margin-top: -.1rem;
  border-radius: .3rem
}

.product-details-tab .tab-content .tab-pane {
  padding: 2.7rem 3rem
}

.tab-content {
  border: none
}

.product-details-extended .tab-content .tab-pane {
  padding: 0
}
#category-item{
  height: 260px;
  margin-bottom: 6vh;
}
#category-inner{
  height: 230px
}
.phones-and-tab{
  background-size: cover;
}
#category-inner img{
  transition: .3s;
}
#category-inner img:hover{
  transform: translateY(-15px);
}
#order-button{
  border-radius: 0;
}
#search-row{
  margin-top: 290px;
}
#search-row li{
  list-style-type: none;
}
#signin-button{
  border-radius: 0;
}
#button-search{
  background-color: transparent;
  width: 40px;
  color: white;
  border: none;
  position: relative;
  right: 30px;
}
#button-search :hover{
}
#mail-logo{
  color:#0d6efd;
}
.theme-color{
  color: #0d6efd;
}
.nav-link{
  cursor: pointer;
}
.whyus-caption{
  height: 100px;
  width: 190px;
}
#carousel-caption{
  margin-bottom: 300px;
}
#cate-gory{
  height: 300px;
  background: tan
}
.bold-text{
  font-weight: 500;
}
#main-banner{
  background-image: url(./assets/hero-6.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  margin: 0;
  border-radius: 0;
  height: 350px;
}
#about-row{
  font-size: 14px;
}
#container-marketing-section{
  margin-top: 50px;
}
.team-circle{
  height: 300px;
  width: 300px;
  border: 10px solid black;
  border-radius: 50%;
  margin-left: 40px;
}
.team-main{
  margin-top: 50px;
  margin-left: 40px;
}
.testimonials-section{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:600px;
  /* display: none; */
}
.testimonial-inner{
  height: 70%;
  margin-top: 180px;
  margin-left: 50px;
}
.testimonial-pfp{
  border-radius: 50%;
}
.test-p{
  font-weight: 100;
  font-size: 13px;
}
.testimonials-carousel{
  margin-top: 80px;
}
.main-footer{
  margin-top: 30px;
  padding-top: 20px;
  background-color: #000000;
  font-weight: 100;
}
#footer-div{
  margin-top: 30px;
}
#footer-inner{
  margin-top: 40px;

}
#border-text{
  margin-top: 20px;
}
#newsletter-box{
  width: 100%;
}
.newsletter-main i{
  position: relative;
  right: -50px;
  bottom: 30px;
}
.footer-top-box {
  margin-bottom: 30px;
}

.footer-top-box h3 {
  color: #ffffff;
  position: relative;
  font-size: 20px;
}

.footer-top-box h3::before {
  border-bottom: 2px solid #0d6efd;
  content: "";
  height: 3px;
  width: 50%;
  position: absolute;
  bottom: 3px;
  left: 0px;
}

.list-time {
  margin-top: 15px;
}

.footer-top-box .list-time li {
  color: #ffffff;
  font-size: 16px;
  display: block;
  float: none;
}
 .footer-top-box p {
   padding-bottom: 15px;
   color: #cccccc;
 }

 .footer-top-box ul {
   display: inline-block;
 }

 .footer-top-box ul li {
   float: left;
   margin-right: 5px;
   list-style-type: none;
 }

 .footer-top-box ul li a {
   color: #ffffff;
   display: inline-block;
   width: 36px;
   height: 36px;
   border: 2px solid #ffffff;
   text-align: center;
   line-height: 32px;
 }

 .footer-top-box ul li a:hover {
   color: #0d6efd;
   border-color: #0d6efd;
 }
 .footer-top-box ul{
  padding-left: 0px;
 }
 #footer-lower p{
  font-size: 13px;
  font-weight: 300;
 }
 #border-text li{
  /* list-style-type: none; */
 }
 #border-text ul{
  padding-left: 0px;
 }
    .footer-link-contact h4 {
      color: #ffffff;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      position: relative;
      font-weight: 700;
    }
  
    .footer-link-contact h4::before {
      border-bottom: 3px solid #0d6efd;
      content: "";
      height: 3px;
      width: 100%;
      bottom: 3px;
      left: 0px;
    }
  
    .footer-link-contact ul li {
      margin-bottom: 12px;
    }
  
    .footer-link-contact ul li i {
      left: 0;
      top: 5px;
    }
  
    .footer-link-contact ul li p {
      color: #cccccc;
    }
  
    .footer-link-contact ul li p {
      font-size: 16px;
      color: #cccccc;
      font-weight: 300;
    }
    .footer-link-contact ul li p a:hover {
      color: #0d6efd;
    }
#footer-contact{
  width: 100%;
}
#carousel-image{
  height: 800px
}
#carousel-button {
  height: 70px;
  width: 270px
}
#category-header {
  margin-top: 90px;
}
 #category-main img {
  height: 100%;
  width: 100%;
 }
.long-input{
  height: 200px;
  padding: 2;
  margin: 0;
}
.productDetails-p{
  line-height: 3;
}
.product-screen-body{
  /* background: -webkit-linear-gradient(to right, #FFFFFF, #e7d186);
  background: linear-gradient(to right, #d7c2db, #ce33b9); */
  /* background-image: url(../src/assets/test_bg2.jpg); */
  background-size: cover;
  width: 100%;
  left: 0px;
  top: 0px;
  padding-top: 150px;
  /* position: absolute; */
}
.navbar{
  /* background: #000000; */
}
#our-courses{
  margin-top: 50px;
}
.mt-12{
  margin-top: 100px;
}
/* Courses page */





























                           /* ********************MOBILE *************************/
/* Galaxy fold */
@media screen and (min-width: 279.5px) and (max-width: 340px) {
.hero-left {
    display: none;
  }

  #mail-logo {
    position: relative;
    left: 80px;
  }

  .fa-bars {
    color: white;
  }

  .hero-right {
    width: 100%;
  }

  .main-bg-captions {
    margin-left: 40px;
    text-align: center;
    width: 80%;
  }
  .main-bg-captions h1 {
    text-align: center;
    font-size: 38px;
  }
  #basic-navbar-nav {
    background-color: #262335;
  }

  #search-bar {
    width: 250px;
  }

  #about-div {
    top: 600px;
  }
  .budget-cover{
    display: none;
  }
  #about-text-box {
    margin-left: 40px;
  }
  #about-text-box h1{
    font-size: 30px;
  }
  .about-p {
    margin-top: 0px;
    font-size: 14px;
  }

  .row-main {
    display: block;
    margin-top: 50px
  }

  .about-card-inner {
    width: 100%;
    margin-left: 0;
    height: 700px;
  }

  .about-button {
    text-align: center;
  }

  #parallax-div {
    top: 1800px;
  }

  #parallax-main {
    display: block;
    height: 34rem;
  }

  #parallax-item {
    width: 15rem;
    height: 33rem;
    margin-left: 10px;
  }
  .parallax-description p{
    font-size: 12px;
  }

  .parallax-button-trending {
    width: 50%;
  }
  #whyus-div {
    top: 1850px;
  }
  .brands-logo-inner{
    display: block;
  }

  .start-learning-button {
    width: 80%;
  }

  .carousel-indicators {
    display: none;
  }

  .white-space-vertical {
    margin-top: 0;
  }

  .why-us-cover {
    display: block;
  }

  .why-us-cover-img {
    display: none;
  }

  .why-us-right-header {
    text-align: center;
    width: 100%;
  }

  .why-us-cover-brand {
    width: 50%;
  }

  .why-us-cover-brand-redhat {
    display: none;
  }

  .why-us-cover-brand-google {
    margin-right: 10px;
    width: 50%;
  }

  #blog-div {
    top: 1900px;
  }

  .main-heading {
    width: 80%;
    margin: auto;
  }

  .blog-cards-main {
    display: block;
    margin: auto;
    padding-right: 20px;
  }

  .blog-img {
    margin-bottom: 40px;
  }

  #testimonials-div {
    top: 1950px;
  }

  .testimonials-section h5 {
    font-size: 30px;
  }

  .testimonials-section h1 {
    font-size: 16px;
  }

  #testimonial-cap {
    width: 80%;
  }

  #main-testimonial-cards {
    display: block;
  }

  .testimonial-card-main {
    margin-bottom: 50px;
  }

  footer {
    top: 3900px;
  }

  #footer-inner {
    display: block;
  }

  #footer-lower {
    display: block;
  }
  #products-list-row{
    display: block;
  }
}


 /* samsung s8 plus */
 @media screen and (min-width: 340.9px) and (max-width: 380px) {
    .hero-left{
      display: none;
    }
    #mail-logo{
      position: relative;
      left: 120px;
    }
    .fa-bars{
      color: white;
    }
    .hero-right{
      width: 100%;
    }
    .main-bg-captions{
      margin-left: 50px;
      text-align: center;
      width: 80%;
    }
    .main-bg-captions h1{
      text-align: center;
    }
    #basic-navbar-nav{
      background-color: #262335;
    }
    #search-bar {
      width: 300px;
    }
    #about-div {
      top: 600px;
    }
    #about-text-box {
      margin-left: 40px;
    }
    .row-main{
      display: block;
      margin-top: 50px
    }
    .about-card-inner{
      width: 100%;
      margin-left: 0;
      height: 700px;
    }
    .about-button{
      text-align: center;
    }
    #parallax-div {
      top: 1900px;
    }
    #whyus-div {
      top: 2000px;
    }
    #parallax-main {
      display: block;
      height: 33rem;
    }
    #parallax-item {
      width: 19rem;
      height: 32rem;
      margin-left: 17px;
    }
    .parallax-button-trending{
      width: 40%;
    }
    .start-learning-button {
      width: 80%;
    }
    .carousel-indicators {
      display: none;
    }
    .white-space-vertical{
      margin-top: 0;
    }
    .why-us-cover{
      display: block;
    }
    .why-us-cover-img{
      display: none;
    }
    .why-us-right-header {
      text-align: center;
      width: 100%;
    }
    .why-us-cover-brand{
      width: 50%;
    }
    .why-us-cover-brand-redhat{
      display: none;
    }
    .why-us-cover-brand-google{
      margin-right: 10px;
      width: 50%;
    }
    #blog-div {
      top: 2100px;
    }
    .main-heading{
      width: 80%;
      margin: auto;
    }
    .blog-cards-main{
      display: block;
      margin: auto;
      padding-left: 7px;
    }
    .blog-img{
      margin-bottom: 40px;
    }
    #testimonials-div {
      top: 2150px;
    }
    .testimonials-section h5{
      font-size: 30px;
    }
    .testimonials-section h1 {
      font-size: 16px;
    }
    #testimonial-cap {
      width: 80%;
    }
    #main-testimonial-cards{
      display: block;
    }
    .testimonial-card-main{
      margin-bottom: 50px;
    }
    footer{
      top: 3700px;
    }
    #footer-inner {
      display: block;
    }

    #footer-lower {
      display: block;
    }
    #products-list-row {
      display: block;
    }
  }

  /* iphone 12 pro */
  @media screen and (min-width: 381.5px) and (max-width: 409.9px) {
    .hero-left {
      display: none;
    }

    #mail-logo {
      position: relative;
      left: 130px;
    }

    .fa-bars {
      color: white;
    }

    .hero-right {
      width: 100%;
    }

    .main-bg-captions {
      margin-left: 50px;
      text-align: center;
      width: 80%;
    }

    .main-bg-captions h1 {
      text-align: center;
    }
    #basic-navbar-nav {
      background-color: #262335;
    }

    #search-bar {
      width: 300px;
    }

    #about-div {
      top: 600px;
    }
    #about-text{
    padding-left: 40px;
    }
    #about-text-box {
      margin-left: 40px;
    }

    .row-main {
      display: block;
      margin-top: 50px
    }

    .about-card-inner {
      width: 100%;
      margin-left: 0;
      height: 700px;
    }

    .about-button {
      text-align: center;
    }

    #parallax-div {
      top: 1850px;
    }

    #parallax-main {
      display: block;
      height: 33rem;
    }

    #parallax-item {
      width: 20.5rem;
      height: 32rem;
      margin-left: 17px;
    }

    .parallax-button-trending {
      width: 40%;
    }

    .start-learning-button {
      width: 80%;
    }

    .carousel-indicators {
      display: none;
    }

    .white-space-vertical {
      margin-top: 0;
    }
    #whyus-div {
      top: 1950px;
    }
    .why-us-cover {
      display: block;
    }

    .why-us-cover-img {
      display: none;
    }

    .why-us-right-header {
      text-align: center;
      width: 100%;
    }

    .why-us-cover-brand {
      width: 50%;
    }

    .why-us-cover-brand-redhat {
      display: none;
    }

    .why-us-cover-brand-google {
      margin-right: 10px;
      width: 50%;
    }

    #blog-div {
      top: 2050px;
    }

    .main-heading {
      width: 80%;
      margin: auto;
    }

    .blog-cards-main {
      display: block;
      margin: auto;
      padding-left: 20px;
    }

    .blog-img {
      margin-bottom: 40px;
    }

    #testimonials-div {
      top: 2100px;
    }

    .testimonials-section h5 {
      font-size: 30px;
    }

    .testimonials-section h1 {
      font-size: 16px;
    }

    #testimonial-cap {
      width: 80%;
    }

    #main-testimonial-cards {
      display: block;
    }

    .testimonial-card-main {
      margin-bottom: 50px;
    }

    footer {
      top: 3700px;
    }

    #footer-inner {
      display: block;
    }

    #footer-lower {
      display: block;
    }
    #products-list-row {
      display: block;
    }
  }

/* iphone xr and iphone 11 */
@media screen and (min-width: 410px) and (max-width: 420px) {
    .hero-left {
      display: none;
    }
  
    #mail-logo {
      position: relative;
      left: 130px;
    }
  
    .fa-bars {
      color: white;
    }
  
    .hero-right {
      width: 100%;
    }
  
    .main-bg-captions {
      margin-left: 50px;
      text-align: center;
      width: 80%;
    }
  
    .main-bg-captions h1 {
      text-align: center;
    }
  
    #basic-navbar-nav {
      background-color: #262335;
    }
  
    #search-bar {
      width: 300px;
    }
  
    #about-div {
      top: 600px;
    }
  
    #about-text {
      padding-left: 40px;
    }
  
    #about-text-box {
      margin-left: 40px;
    }
  
    .row-main {
      display: block;
      margin-top: 50px
    }
  
    .about-card-inner {
      width: 100%;
      margin-left: 0;
      height: 670px;
    }
  
    .about-button {
      text-align: center;
    }
  
    #parallax-div {
      top: 1850px;
    }
  
    #parallax-main {
      display: block;
      height: 33rem;
    }
  
    #parallax-item {
      width: 22rem;
      height: 32rem;
      margin-left: 17px;
    }
  
    .parallax-button-trending {
      width: 40%;
    }
  
    .start-learning-button {
      width: 80%;
    }
  
    .carousel-indicators {
      display: none;
    }
  
    .white-space-vertical {
      margin-top: 0;
    }
  
    #whyus-div {
      top: 1900px;
    }
  
    .why-us-cover {
      display: block;
    }
  
    .why-us-cover-img {
      display: none;
    }
  
    .why-us-right-header {
      text-align: center;
      width: 100%;
    }
  
    .why-us-cover-brand {
      width: 50%;
    }
  
    .why-us-cover-brand-redhat {
      display: none;
    }
  
    .why-us-cover-brand-google {
      margin-right: 10px;
      width: 50%;
    }
  
    #blog-div {
      top: 2000px;
    }
  
    .main-heading {
      width: 60%;
      margin: auto;
    }
    .card{
      width: 350px;
    }
    .blog-cards-main {
      display: block;
      margin: auto;
      padding-left: 10px;
    }
  
    .blog-img {
      margin-bottom: 40px;
    }
  
    #testimonials-div {
      top: 2050px;
    }
  
    .testimonials-section h5 {
      font-size: 30px;
    }
  
    .testimonials-section h1 {
      font-size: 16px;
    }
  
    #testimonial-cap {
      width: 80%;
    }
  
    #main-testimonial-cards {
      display: block;
    }
  
    .testimonial-card-main {
      margin-bottom: 50px;
    }
  
    footer {
      top: 3500px;
    }
  
    #footer-inner {
      display: block;
    }
  
    #footer-lower {
      display: block;
    }
    #products-list-row {
      display: block;
    }
}

@media screen and (min-width: 421px) and (max-width: 480px) {
  .hero-left {
      display: none;
    }
  
    #mail-logo {
      position: relative;
      left: 160px;
    }
  
    .fa-bars {
      color: white;
    }
  
    .hero-right {
      width: 100%;
    }
  
    .main-bg-captions {
      margin-left: 50px;
      text-align: center;
      width: 80%;
    }
  
    .main-bg-captions h1 {
      text-align: center;
    }
  
    #basic-navbar-nav {
      background-color: #262335;
    }
  
    #search-bar {
      width: 300px;
    }
  
    #about-div {
      top: 600px;
    }
  
    #about-text {
      padding-left: 70px;
    }
  
    #about-text-box {
      margin-left: 40px;
    }
  
    .row-main {
      display: block;
      margin-top: 50px
    }
  
    .about-card-inner {
      width: 100%;
      margin-left: 0;
      height: 650px;
    }
  
    .about-button {
      text-align: center;
    }
  
    #parallax-div {
      top: 1750px;
    }
  
    #parallax-main {
      display: block;
      height: 33rem;
    }
  
    #parallax-item {
      width: 23rem;
      height: 32rem;
      margin-left: 30px;
    }
  
    .parallax-button-trending {
      width: 40%;
    }
  
    .start-learning-button {
      width: 80%;
    }
  
    .carousel-indicators {
      display: none;
    }
  
    .white-space-vertical {
      margin-top: 0;
    }
  
    #whyus-div {
      top: 1900px;
    }
  
    .why-us-cover {
      display: block;
    }
  
    .why-us-cover-img {
      display: none;
    }
  
    .why-us-right-header {
      text-align: center;
      width: 100%;
    }
  
    .why-us-cover-brand {
      width: 50%;
    }
  
    .why-us-cover-brand-redhat {
      display: none;
    }
  
    .why-us-cover-brand-google {
      margin-right: 10px;
      width: 50%;
    }
  
    #blog-div {
      top: 2000px;
    }
  
    .main-heading {
      width: 60%;
      margin: auto;
    }
  
    .card {
      /* width: 380px; */
    }
  
    .blog-cards-main {
      display: block;
      margin: auto;
      padding-left: 20px;
    }
  
    .blog-img {
      margin-bottom: 40px;
      width: 380px;
    }
  
    #testimonials-div {
      top: 2050px;
    }
  
    .testimonials-section h5 {
      font-size: 30px;
    }
  
    .testimonials-section h1 {
      font-size: 16px;
    }
  
    #testimonial-cap {
      width: 80%;
    }
  
    #main-testimonial-cards {
      display: block;
    }
  
    .testimonial-card-main {
      margin-bottom: 50px;
    }
  
    footer {
      top: 3500px;
    }
  
    #footer-inner {
      display: block;
    }
  
    #footer-lower {
      display: block;
    }
    #products-list-row {
      display: block;
    }
}

/* surface duo */
@media screen and (min-width: 481px) and (max-width: 587px) {
  .hero-left {
      display: none;
    }
  
    #mail-logo {
      position: relative;
      left: 210px;
    }
  
    .fa-bars {
      color: white;
    }
  
    .hero-right {
      width: 100%;
    }
  
    .main-bg-captions {
      margin-left: 60px;
      text-align: center;
      width: 80%;
    }
  
    .main-bg-captions h1 {
      text-align: center;
      font-size: 54px;
    }
  
    #basic-navbar-nav {
      background-color: #262335;
    }
  
    #search-bar {
      width: 300px;
    }
  
    #about-div {
      top: 600px;
    }
  
    #about-text {
      padding-left: 70px;
    }
  
    #about-text-box {
      margin-left: 40px;
    }
  
    .row-main {
      display: block;
      margin-top: 50px
    }
  
    .about-card-inner {
      width: 100%;
      margin-left: 0;
      height: 650px;
    }
    .about-p p{
      font-size: 20px;
    }
  
    .about-button {
      text-align: center;
    }
  
    #parallax-div {
      top: 1600px;
    }
  
    #parallax-main {
      display: block;
      height: 33rem;
    }
  
    #parallax-item {
      width: 27rem;
      height: 32rem;
      margin-left: 40px;
    }
  
    .parallax-button-trending {
      width: 40%;
    }
  
    .start-learning-button {
      width: 80%;
    }
  
    .carousel-indicators {
      display: none;
    }
  
    .white-space-vertical {
      margin-top: 0;
    }
  
    #whyus-div {
      top: 1700px;
    }
  
    .why-us-cover {
      display: block;
    }
  
    .why-us-cover-img {
      display: none;
    }
  
    .why-us-right-header {
      text-align: center;
      width: 100%;
    }
  
    .why-us-cover-brand {
      width: 50%;
    }
  
    .why-us-cover-brand-redhat {
      display: none;
    }
  
    .why-us-cover-brand-google {
      margin-right: 10px;
      width: 50%;
    }
  
    #blog-div {
      top: 1800px;
    }
  
    .main-heading {
      width: 60%;
      margin: auto;
    }
  
    .card {
      width: 460px;
    }
  
    .blog-cards-main {
      display: block;
      margin: auto;
      padding-left: 20px;
    }
  
    .blog-img {
      margin-bottom: 40px;
      width: 460px;
    }
  
    #testimonials-div {
      top: 1850px;
    }
  
    .testimonials-section h5 {
      font-size: 30px;
    }
  
    .testimonials-section h1 {
      font-size: 16px;
    }
  
    #testimonial-cap {
      width: 80%;
    }
  
    #main-testimonial-cards {
      display: block;
    }
  
    .testimonial-card-main {
      margin-bottom: 50px;
    }
  
    footer {
      top: 3150px;
    }
  
    #footer-inner {
      display: block;
    }
  
    #footer-lower {
      display: block;
    }
}

/* macbook and smaller laptop */

@media screen and (min-width: 1050px) and (max-width: 1210px) {
  #parallax-item{
    width: 21rem;
    height: 33rem;
  }
  #parallax-main {
    height: 33rem;
    padding-left: 20px;
  }
  .container-blog{
    margin: auto;
    margin-left: 30px;
    padding-left: 30px;
  }
  #main-testimonial-cards{
    margin: auto;
    margin-top: 50px;
    margin-left: 30px;
  }
  footer {
    position: relative;
    top: 1400px;
  }
  .about-card-inner{
    height: 660px;
  }
  #products-list-row {
    display: block;
  }
}

/* iphone 14 pro */
@media screen and (min-width: 588.5px) and (max-width: 600px) {
  .hero-left {
      display: none;
    }
    #main-hero {
      height: 700px;
    }
    #mail-logo {
      position: relative;
      left: 220px;
    }
  
    .fa-bars {
      color: white;
    }
  
    .hero-right {
      width: 100%;
    }
  
    .main-bg-captions {
      margin-left: 70px;
      text-align: center;
      width: 80%;
    }
  
    .main-bg-captions h1 {
      text-align: center;
      font-size: 54px;
    }
  
    #basic-navbar-nav {
      background-color: #262335;
    }
  
    #search-bar {
      width: 300px;
    }
  
    #about-div {
      top: 550px;
    }
    #about-inner-div {
      display: block;
    }
    #about-text {
      padding-left: 70px;
      width: 90%;
    }
  
    #about-text-box {
      margin-left: 40px;
    }
    .about-h1 h1 {
      font-size: 42px;
    }
    .about-text-box-p {
      font-size: 18px;
    }
    #about-card{
      width: 100%;
    }
    .row-main {
      display: block;
      margin-top: 50px
    }
  
    .about-card-inner {
      width: 100%;
      margin-left: 0;
      height: 650px;
    }
  
    .about-p p {
      font-size: 20px;
    }
  
    .about-button {
      text-align: center;
    }
  
    #parallax-div {
      top: 1750px;
    }
  
    #parallax-main {
      display: block;
      height: 33rem;
    }
  
    #parallax-item {
      width: 29rem;
      height: 32rem;
      margin-left: 50px;
    }
  
    .parallax-button-trending {
      width: 40%;
    }
  
    .start-learning-button {
      width: 80%;
    }
  
    .carousel-indicators {
      display: none;
    }
    .carousel-control-next,
    .carousel-control-prev {
      /* opacity: 1; */
    }
  
    .white-space-vertical {
      margin-top: 0;
    }
  
    #whyus-div {
      top: 1800px;
    }
  
    .why-us-cover {
      display: block;
    }
  
    .why-us-cover-img {
      display: none;
    }
  
    .why-us-right-header {
      text-align: center;
      width: 100%;
    }
  
    .why-us-cover-brand {
      width: 50%;
    }
  
    .why-us-cover-brand-redhat {
      display: none;
    }
  
    .why-us-cover-brand-google {
      margin-right: 10px;
      width: 50%;
    }
  
    #blog-div {
      top: 1900px;
    }
  
    .main-heading {
      width: 60%;
      margin: auto;
    }
  
    .card {
      width: 460px;
    }
  
    .blog-cards-main {
      display: block;
      margin: auto;
      padding-left: 30px;
    }
  
    .blog-img {
      margin-bottom: 40px;
      width: 490px;
    }
  
    #testimonials-div {
      top: 1950px;
    }
  
    .testimonials-section h5 {
      font-size: 30px;
    }
  
    .testimonials-section h1 {
      font-size: 16px;
    }
  
    #testimonial-cap {
      width: 80%;
    }
  
    #main-testimonial-cards {
      display: block;
    }
  
    .testimonial-card-main {
      margin-bottom: 50px;
    }
  
    footer {
      top: 3150px;
    }
  
    #footer-inner {
      display: block;
    }
  
    #footer-lower {
      display: block;
    }
    #products-list-row {
      display: block;
    }
  }

/* iphone 14 pro max */
@media screen and (min-width: 601px) and (max-width: 650px) {
  .hero-left {
      display: none;
    }
  
    #main-hero {
      height: 700px;
    }
  
    #mail-logo {
      position: relative;
      left: 250px;
    }
  
    .fa-bars {
      color: white;
    }
  
    .hero-right {
      width: 100%;
    }
  
    .main-bg-captions {
      margin-left: 75px;
      text-align: center;
      width: 80%;
    }
  
    .main-bg-captions h1 {
      text-align: center;
      font-size: 54px;
    }
  
    #basic-navbar-nav {
      background-color: #262335;
    }
  
    #search-bar {
      width: 300px;
    }
  
    #about-div {
      top: 550px;
    }
  
    #about-inner-div {
      display: block;
    }
  
    #about-text {
      padding-left: 80px;
      width: 90%;
    }
  
    #about-text-box {
      margin-left: 40px;
    }
  
    .about-h1 h1 {
      font-size: 42px;
    }
  
    .about-text-box-p {
      font-size: 18px;
    }
  
    #about-card {
      width: 100%;
    }
  
    .row-main {
      display: block;
      margin-top: 50px
    }
  
    .about-card-inner {
      width: 100%;
      margin-left: 0;
      height: 650px;
    }
  
    .about-p p {
      font-size: 20px;
    }
  
    .about-button {
      text-align: center;
    }
  
    #parallax-div {
      top: 1700px;
    }
  
    #parallax-main {
      display: block;
      height: 33rem;
    }
  
    #parallax-item {
      width: 30rem;
      height: 32rem;
      margin-left: 70px;
    }
    .parallax-description p{
      font-size: 18px;
    }
    .parallax-button-trending {
      width: 30%;
    }
  
    .start-learning-button {
      width: 80%;
    }
  
    .carousel-indicators {
      display: none;
    }
    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
    }
    .white-space-vertical {
      margin-top: 0;
    }
  
    #whyus-div {
      top: 1800px;
    }
  
    .why-us-cover {
      display: block;
    }
  
    .why-us-cover-img {
      display: none;
    }
  
    .why-us-right-header {
      text-align: center;
      width: 100%;
    }
  
    .why-us-cover-brand {
      width: 50%;
    }
  
    .why-us-cover-brand-redhat {
      display: none;
    }
  
    .why-us-cover-brand-google {
      margin-right: 10px;
      width: 50%;
    }
  
    #blog-div {
      top: 1900px;
    }
  
    .main-heading {
      width: 60%;
      margin: auto;
    }
  
    .card {
      width: 460px;
    }
  
    .blog-cards-main {
      display: block;
      margin: auto;
      padding-left: 50px;
    }
  
    .blog-img {
      margin-bottom: 40px;
      width: 500px;
    }
  
    #testimonials-div {
      top: 1950px;
    }
  
    .testimonials-section h5 {
      font-size: 30px;
    }
  
    .testimonials-section h1 {
      font-size: 16px;
    }
  
    #testimonial-cap {
      width: 80%;
    }
  
    #main-testimonial-cards {
      display: block;
    }
  
    .testimonial-card-main {
      margin-bottom: 50px;
    }
  
    footer {
      top: 3150px;
    }
  
    #footer-inner {
      display: block;
    }
  
    #footer-lower {
      display: block;
    }
    #products-list-row {
      display: block;
    }
  }
  @media screen and (min-width: 651px) and (max-width: 699px) {
  .hero-left {
    display: none;
  }

  #main-hero {
    height: 700px;
  }

  #mail-logo {
    position: relative;
    left: 270px;
  }

  .fa-bars {
    color: white;
  }

  .hero-right {
    width: 100%;
  }

  .main-bg-captions {
    margin-left: 75px;
    text-align: center;
    width: 80%;
  }

  .main-bg-captions h1 {
    text-align: center;
    font-size: 54px;
  }

  #basic-navbar-nav {
    background-color: #262335;
  }

  #search-bar {
    width: 300px;
  }

  #about-div {
    top: 550px;
  }

  #about-inner-div {
    display: block;
  }

  #about-text {
    padding-left: 100px;
    width: 90%;
  }

  #about-text-box {
    margin-left: 40px;
  }

  .about-h1 h1 {
    font-size: 42px;
  }

  .about-text-box-p {
    font-size: 18px;
  }

  #about-card {
    width: 100%;
  }

  .row-main {
    display: block;
    margin-top: 50px
  }

  .about-card-inner {
    width: 100%;
    margin-left: 0;
    height: 650px;
  }

  .about-p p {
    font-size: 20px;
  }

  .about-button {
    text-align: center;
  }

  #parallax-div {
    top: 1700px;
  }

  #parallax-main {
    display: block;
    height: 33rem;
  }

  #parallax-item {
    width: 30rem;
    height: 32rem;
    margin-left: 95px;
  }

  .parallax-description p {
    font-size: 18px;
  }

  .parallax-button-trending {
    width: 30%;
  }

  .start-learning-button {
    width: 80%;
  }

  .carousel-indicators {
    display: none;
  }
  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1;
  }

  .white-space-vertical {
    margin-top: 0;
  }

  #whyus-div {
    top: 1800px;
  }

  .why-us-cover {
    display: block;
  }

  .why-us-cover-img {
    display: none;
  }

  .why-us-right-header {
    text-align: center;
    width: 100%;
  }

  .why-us-cover-brand {
    width: 50%;
  }

  .why-us-cover-brand-redhat {
    display: none;
  }

  .why-us-cover-brand-google {
    margin-right: 10px;
    width: 50%;
  }

  #blog-div {
    top: 1900px;
  }

  .main-heading {
    width: 60%;
    margin: auto;
  }

  .card {
    width: 460px;
  }

  .blog-cards-main {
    display: block;
    margin: auto;
    padding-left: 70px;
  }

  .blog-img {
    margin-bottom: 40px;
    width: 520px;
  }

  #testimonials-div {
    top: 1950px;
  }

  .testimonials-section h5 {
    font-size: 30px;
  }

  .testimonials-section h1 {
    font-size: 16px;
  }

  #testimonial-cap {
    width: 80%;
  }

  #main-testimonial-cards {
    display: block;
  }

  .testimonial-card-main {
    margin-bottom: 50px;
  }

  footer {
    top: 3150px;
  }

  #footer-inner {
    display: block;
  }

  #footer-lower {
    display: block;
  }
}


 @media screen and (min-width: 700px) and (max-width: 799px) {
    #about-text {
      padding-left: 100px;
      width: 90%;
    }
  
    #about-text-box {
      margin-left: 40px;
    }
  
    .about-h1 h1 {
      font-size: 42px;
    }
  
    .about-text-box-p {
      font-size: 18px;
    }
  
    #about-card {
      width: 100%;
    }
  
    .skills-p {
      width: 100%;
    }
  
    .row-main {
      margin-top: 50px;
    }
  
    .about-card-inner {
      height: 800px;
    }
  
    .about-p p {
      font-size: 24px;
    }
  
    .about-promo p {
      font-size: 24px;
    }
  
    #parallax-div {
      top: 1720px;
    }
  
    #parallax-main {
      display: block;
      height: 33rem;
    }

    #parallax-item {
      width: 34.2rem;
      height: 32rem;
      margin-left: 99px;
    }

    .parallax-description p {
      font-size: 18px;
    }

    .parallax-button-trending {
      width: 30%;
    }

    .start-learning-button {
      width: 80%;
    }

    .carousel-indicators {
      display: none;
    }

    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
    }
  
    #whyus-div {
      top: 1800px;
    }
  
    .parallax-button-trending {
      height: 30px;
      width: 50%;
    }
  
    #blog-div {
      top: 1850px;
    }
  
    .container-blog {
      margin: auto;
      margin-left: 0px;
      padding-left: 0px;
    }
  
    #testimonials-div {
      top: 1900px;
    }
  
    .testimonials-section h5 {
      font-size: 30px;
    }
  
    .testimonials-section h1 {
      font-size: 16px;
    }
  
    #testimonial-cap {
      width: 80%;
    }
  
    #main-testimonial-cards {
      display: block;
    }
  
    .testimonial-card-main {
      margin-bottom: 50px;
    }
  
    footer {
      top: 2900px;
    }
 }
  
 
 /* macbook and smaller laptop */

@media screen and (min-width: 800px) and (max-width: 950px) {
    #about-text {
      padding-left: 100px;
      width: 90%;
    }
  
    #about-text-box {
      margin-left: 40px;
    }
  
    .about-h1 h1 {
      font-size: 42px;
    }
  
    .about-text-box-p {
      font-size: 18px;
    }
  
    #about-card {
      width: 100%;
    }
  .skills-p {
    width: 100%;
  }
  .row-main{
    margin-top: 50px;
  }
  .about-card-inner {
    height: 800px;
  }
  .about-p p{
    font-size: 24px;
  }
  .about-promo p{
    font-size: 24px;
  }
  #parallax-div {
    top: 1650px;
  }
  #parallax-main {
    height: 41rem;
    padding-right: 10px;
  }
  #parallax-item {
    width: 15rem;
    height: 40rem;
  }
  #whyus-div {
    top: 1800px;
  }
  .parallax-button-trending {
    height: 30px;
    width: 50%;
  }
  #blog-div {
    top: 1850px;
  }
  .container-blog {
    margin: auto;
    margin-left: 0px;
    padding-left: 10px;
  }
  #testimonials-div {
    top: 1900px;
  }
  .testimonials-section h5 {
    font-size: 30px;
  }

  .testimonials-section h1 {
    font-size: 16px;
  }

  #testimonial-cap {
    width: 80%;
  }

  #main-testimonial-cards {
    display: block;
  }

  .testimonial-card-main {
    margin-bottom: 50px;
  }
  footer{
    top: 2900px;
  }
}
 @media screen and (min-width: 951px) and (max-width: 1049px) {
  .about-wordings{
    margin-top: 50px;
  }
  .about-card-inner {
    height: 700px;
  }
  #parallax-div {
    top: 850px;
  }
   #parallax-main {
    height: 41rem;
    padding-right: 10px;
  }
  #parallax-item {
    width: 19rem;
    height: 40rem;
  }
  .parallax-button-trending {
    width: 40%;
  }
  #whyus-div {
    top: 950px;
  }
  #blog-div {
    top: 1050px;
  }
  footer{
    top: 1400px;
  }
  .container-blog {
    padding-left: 19px;
  }
 }

 @media screen and (min-width: 1050px) and (max-width: 1210px) {
   #parallax-item {
     width: 21rem;
     height: 33rem;
   }

   #parallax-main {
     height: 33rem;
     padding-left: 20px;
   }

   .container-blog {
     margin: auto;
     margin-left: 30px;
     padding-left: 30px;
   }

   #main-testimonial-cards {
     margin: auto;
     margin-top: 50px;
     margin-left: 30px;
   }

   footer {
     position: relative;
     top: 1400px;
   }

   .about-card-inner {
     height: 660px;
   }
 }