body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f3f8;
}

.site-container {
  min-height: 100vh;
}
#main-hero{
  width: 100%;
  height: 800px;
  background-image: url(../src/assets/bg-main-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
}
header{
  position: relative;
  z-index: 1;
  margin-top: 20px;
  top: 2px;
}
.main-bg-captions{
  width: 100%;
  margin: auto;
  height: 400px;
  margin-top: 200px;
}
.main-bg-captions h1{
  font-weight: 600;
  font-size: 52px;
  text-align: left;
}
.main-bg-captions h5{
  font-weight: 300;
}
.btn-main{
  
}
.btn-funky-moon {
  height: 60px;
  width: 180px;
  background: #ecd483;
    /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #e7d186);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e4e39b, #e0af0c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
  border: 3px solid #eee;
  margin-top: 50px;
}
.mt-8{
  margin-top: 50px;
}
.btn-funky-moon p{
  margin-top: 5px;
  font-size: 20px;
}
#about-div{
  position: relative;
  top: 700px;
}
#categories-div{
  position: relative;
  top: 700px
}
#whyus-div{
  position: relative;
  top: 700px
}
#blog-div{
  position: relative;
  top: 700px
}
#testimonials-div{
  position: relative;
  top: 700px
}
footer{
  position: relative;
  top: 700px;
}
#about-text-box{
  height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
#about-text-box h1{
  font-weight: 400;
  line-height: 1.5;
  font-size: 40px;
}
.about-bg-btn{
  width: 50%;
  margin: auto;
  margin-top: 50px;
}


/* slider */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
  --up: 3;
  --card-margin: 12px;
  --card-shadow: rgba(46, 49, 52, .4);
  --color-white: #fff;
  --color-lightgrey: #ccc;
  --color-ui: #999;
  --color-ui-hover: #666;
  --cardWidth: calc(96vw/var(--up));
  --carouselWidth: calc(var(--cardWidth) * var(--num));
  --carouselLeftMargin: calc(2vw - var(--cardWidth));
}

@media screen and (max-width: 900px) {
  :root {
    /*basically mobile*/
    --up: 1;
  }
}

.carouselwrapper {
  overflow: hidden;
  background: var(--color-lightgrey);
  position: relative;
}

.carousel {
  width: var(--carouselWidth);
  margin: 0 0 0 var(--carouselLeftMargin);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.carousel.prev {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: prev;
}

.carousel.next {
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: next;
}

.carousel li {
  padding: 50px;
  text-align: center;
  width: calc(var(--cardWidth) - var(--card-margin) * 2);
  box-sizing: border-box;
}

.ui {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: calc(100% - var(--card-margin) * 2);
  justify-content: space-between;
  padding: var(--card-margin);
  z-index: 100;
}

.ui button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-ui);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-white);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .25);
  border: 0;
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.ui button:hover {
  background: var(--color-ui-hover);
}

.ui button:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 1);
}

.card {
  box-shadow: 0px 1px 2px 0px var(--card-shadow);
  border-radius: 4px;
  margin: var(--card-margin);
  background: var(--color-white);
}

.card .material-icons {
  font-size: 4.8rem;
}

.card p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0;
}

@keyframes next {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(calc(0px + var(--cardWidth)));
  }
}

@keyframes prev {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(calc(0px - var(--cardWidth)));
  }
}
/* slider end */





















main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
  border-radius: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #0d6efd;
  color: #0d6efd;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}

.full-box header,
.full-box footer {
  display: none;
}

.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}

.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}

.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

button.thumbnail {
  padding: 0;
}
#hero-background{
  
}
#contact-nav{
  margin-right: 70px;
}
.mt-20{
  margin-top: 20px;;
}
#basic-nav-dropdown{
  color: white;
}
#admin-nav-dropdown{
  color:white;
}
#main-container{
  max-width: 1300px;
}
#search-bar{
  width: 500px;
}
#featured-products{
  margin-top: 100px;
}
#main-products{
  margin-top: 100px;
}
product-details-tab {
  margin-bottom: 5rem
}

.product-details-tab .nav.nav-pills .nav-link {
  color: #333333;
  font-size: 1.6rem;
  padding: .55rem 3rem;
  border-bottom-width: .2rem;
  text-transform: capitalize
}

.product-details-tab .nav.nav-pills .nav-link:hover,
.product-details-tab .nav.nav-pills .nav-link:focus {
  color: #0d6efd;
  border-bottom-color: #0d6efd
}

.product-details-tab .nav.nav-pills .nav-item+.nav-item {
  margin-left: 2rem
}

.product-details-tab .tab-content {
  border: .1rem solid #dadada;
  margin-top: -.1rem;
  border-radius: .3rem
}

.product-details-tab .tab-content .tab-pane {
  padding: 2.7rem 3rem
}
.tab-content {
  border: none
}
.tab-content .tab-pane {
  padding: 0
}
.tab-content .tab-pane {
  padding: 2rem 0 0
}
.tab-content-border {
  border: .1rem solid #d7d7d7;
  border-radius: .3rem;
  border-top-left-radius: 0;
  border-top-width: 0
}

.justify-content-center+.tab-content-border {
  border-top-left-radius: .3rem
}

.tab-pane {
  padding: 1.4rem 2.2rem
}

.tab-pane p:last-child {
  margin-bottom: 0
}

.nav.nav-pills .nav-link {
  color: #777;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -.01em;
  padding: .45rem 1rem;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-bottom: .1rem solid transparent;
  background-color: transparent;
  transition: all .35s ease
}

.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus {
  color: #0d6efd
}

.nav.nav-pills .nav-link:focus {
  outline: none !important
}

.nav.nav-pills .nav-item+.nav-item {
  margin-left: 1rem
}

.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
  color: #0d6efd;
  border-color: #3f8cff;
  border-bottom-color: #0d6efd
}

.nav-pills+.tab-content .tab-pane {
  padding: 1.4rem 0
}

.nav-pills+.tab-content .tab-pane p:last-child {
  margin-bottom: 0
}

.tabs-vertical {
  display: flex;
  align-items: flex-start;
  align-items: stretch
}

.tabs-vertical .tab-content-border {
  border-top-width: .1rem;
  border-left-width: 0;
  border-bottom-left-radius: 0
}
.nav-pills+.tab-content .tab-pane {
  padding: 1.4rem 0
}

.nav-pills+.tab-content .tab-pane p:last-child {
  margin-bottom: 0
}

.tabs-vertical {
  display: flex;
  align-items: flex-start;
  align-items: stretch
}

.tabs-vertical .tab-content-border {
  border-top-width: .1rem;
  border-left-width: 0;
  border-bottom-left-radius: 0
}

.tabs-vertical .nav {
  flex-shrink: 0
}

.tabs-vertical .nav .nav-link {
  min-width: 100px
}

.tabs-vertical .nav.nav-tabs {
  border-bottom-width: 0;
  border-right-width: .1rem
}

.tabs-vertical .nav.nav-tabs .nav-link {
  border-top-left-radius: .3rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: .3rem
}

.tabs-vertical .nav.nav-tabs .nav-item {
  margin-bottom: 0;
  margin-right: -1px
}

.tabs-vertical .nav.nav-tabs .nav-item+.nav-item {
  margin-left: 0;
  margin-top: 1px
}

.tabs-vertical .nav.nav-tabs .nav-item.show .nav-link,
.tabs-vertical .nav.nav-tabs .nav-item .nav-link.active {
  border-color: #0d6efd;
  border-right-color: transparent
}

.tabs-vertical .nav.nav-tabs.nav-tabs-bg .nav-link:not(.active) {
  border-color: #ebebeb #d7d7d7 #ebebeb #ebebeb;
  background-color: #fafafa
}

.tab-content.tab-content-carousel>.tab-pane {
  display: block;
  visibility: hidden;
  height: 0 !important
}

.tab-content.tab-content-carousel>.tab-pane:not(.active) {
  overflow: hidden !important
}

.tab-content.tab-content-carousel>.active {
  height: auto !important;
  visibility: visible
}

.nav.nav-border-anim .nav-link {
  position: relative;
  border-bottom: none
}

.nav.nav-border-anim .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1rem;
  background-color: #0d6efd;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform .3s ease
}

.form-tab .nav.nav-border-anim .nav-link:before {
  height: .2rem
}

.nav.nav-border-anim .nav-link.active:before {
  transform-origin: left center;
  transform: scale(1, 1)
}

.nav.nav-border-anim.nav-pills-mobile .nav-link:before {
  height: .2rem
}
.product-details-tab .tab-content {
  border: .1rem solid #dadada;
  margin-top: -.1rem;
  border-radius: .3rem
}

.product-details-tab .tab-content .tab-pane {
  padding: 2.7rem 3rem
}

.tab-content {
  border: none
}

.product-details-extended .tab-content .tab-pane {
  padding: 0
}
#category-item{
  height: 260px;
  margin-bottom: 6vh;
}
#category-inner{
  height: 230px
}
.phones-and-tab{
  background-size: cover;
}
#category-inner img{
  transition: .3s;
}
#category-inner img:hover{
  transform: translateY(-15px);
}
#order-button{
  border-radius: 0;
}
#search-row li{
  list-style-type: none;
}
#signin-button{
  border-radius: 0;
}
#button-search{
  background-color: #0d6efd;
  width: 40px;
  color: white;
  border: none;
}
#button-search :hover{
}
#mail-logo{
  color:#0d6efd;
}
.theme-color{
  color: #0d6efd;
}
.nav-link{
  cursor: pointer;
}
.whyus-caption{
  height: 100px;
  width: 190px;
}
#carousel-caption{
  margin-bottom: 300px;
}
#cate-gory{
  height: 300px;
  background: tan
}
.bold-text{
  font-weight: 500;
}
#main-banner{
  background-image: url(./assets/hero-6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#about-row{
  font-size: 14px;
}
#container-marketing-section{
  margin-top: 50px;
}
.team-circle{
  height: 300px;
  width: 300px;
  border: 10px solid black;
  border-radius: 50%;
  margin-left: 40px;
}
.team-main{
  margin-top: 50px;
  margin-left: 40px;
}
.testimonials-section{
  background-image: url(../src/assets/test_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:600px;
}
.testimonial-inner{
  height: 70%;
  margin-top: 180px;
  margin-left: 50px;
}
.testimonial-pfp{
  border-radius: 50%;
}
.test-p{
  font-weight: 100;
  font-size: 13px;
}
.testimonials-carousel{
  margin-top: 80px;
}
.main-footer{
  margin-top: 30px;
  padding-top: 20px;
  background-color: #000000;
  font-weight: 100;
}
#footer-div{
  margin-top: 30px;
}
#footer-inner{
  margin-top: 40px;

}
#border-text{
  margin-top: 20px;
}
#newsletter-box{
  width: 100%;
}
.newsletter-main i{
  position: relative;
  right: -50px;
  bottom: 30px;
}
.footer-top-box {
  margin-bottom: 30px;
}

.footer-top-box h3 {
  color: #ffffff;
  position: relative;
  font-size: 20px;
}

.footer-top-box h3::before {
  border-bottom: 2px solid #0d6efd;
  content: "";
  height: 3px;
  width: 50%;
  position: absolute;
  bottom: 3px;
  left: 0px;
}

.list-time {
  margin-top: 15px;
}

.footer-top-box .list-time li {
  color: #ffffff;
  font-size: 16px;
  display: block;
  float: none;
}
 .footer-top-box p {
   padding-bottom: 15px;
   color: #cccccc;
 }

 .footer-top-box ul {
   display: inline-block;
 }

 .footer-top-box ul li {
   float: left;
   margin-right: 5px;
   list-style-type: none;
 }

 .footer-top-box ul li a {
   color: #ffffff;
   display: inline-block;
   width: 36px;
   height: 36px;
   border: 2px solid #ffffff;
   text-align: center;
   line-height: 32px;
 }

 .footer-top-box ul li a:hover {
   color: #0d6efd;
   border-color: #0d6efd;
 }
 .footer-top-box ul{
  padding-left: 0px;
 }
 #footer-lower p{
  font-size: 13px;
  font-weight: 300;
 }
 #border-text li{
  /* list-style-type: none; */
 }
 #border-text ul{
  padding-left: 0px;
 }
    .footer-link-contact h4 {
      color: #ffffff;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      position: relative;
      font-weight: 700;
    }
  
    .footer-link-contact h4::before {
      border-bottom: 3px solid #0d6efd;
      content: "";
      height: 3px;
      width: 100%;
      bottom: 3px;
      left: 0px;
    }
  
    .footer-link-contact ul li {
      margin-bottom: 12px;
    }
  
    .footer-link-contact ul li i {
      left: 0;
      top: 5px;
    }
  
    .footer-link-contact ul li p {
      color: #cccccc;
    }
  
    .footer-link-contact ul li p {
      font-size: 16px;
      color: #cccccc;
      font-weight: 300;
    }
    .footer-link-contact ul li p a:hover {
      color: #0d6efd;
    }
#footer-contact{
  width: 100%;
}
#carousel-image{
  height: 800px
}
#carousel-button {
  height: 70px;
  width: 270px
}
#category-header {
  margin-top: 90px;
}
 #category-main img {
  height: 100%;
  width: 100%;
 }
 /* samsung s8 plus */
 @media screen and (min-width: 360px) and (max-width: 370px) {
#root {
    width: 100%;
  }
  .whyus-caption {
    width: 150px;
  }
  #search-bar {
    width: 320px;
  }

  #carousel {
    height: 200px;
  }

  .carousel-inner {}

  .carousel-control-next {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  #carousel-logo {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: -110px;
    left: -50px;
  }

  #mail-logo {
    display: none;
  }

  #carousel-image {
    height: 450px
  }

  #carousel-caption {
    margin-bottom: -90px;
  }

  #carousel-caption h1 {
    font-size: 30px;
  }

  #carousel-caption h5 {
    font-size: 18px;
  }

  #carousel-caption p {
    display: none;
  }

  #carousel-button {
    height: 60px;
    width: 200px;
    margin-bottom: 150px;
  }

  #carousel-btn-caption {
    font-size: 14px;
  }

  #about-caption {
    position: relative;
    bottom: 300px;
  }

  #about-text {
    margin-top: 250px;
  }

  #about-img {
    position: absolute;
    height: 300px;
  }

  #about-p {
    font-size: 14px;
  }

  #category-main {
    height: 160px;
    margin-bottom: 120px;
  }

  #category-inner {
    height: 100px;
  }

  #category-main img {
    width: 75px;
    height: 100px;
  }

  #category-main p {
    font-size: 12px;
    text-align: center;
  }

  #category-header {
    margin-top: 40px;
  }

  #whyus-top {
    display: inline-block;
    word-break: break-all;
    margin: 0;
    margin-left: 0;
    padding: 0;
  }

  #whyus-top h5 {
    font-size: 14px;
    text-align: left;
  }

  #whyus-top p {
    font-size: 10;
    text-wrap: balance;
  }

  #marketable-span {
    display: none;
  }

  .last-two {
    display: none;
  }

  #blog-span {
    display: none;
  }

  #testimonial-right {
    position: absolute;
  }

  .testimonial-inner {
    margin-left: 0px;
  }

  .testimonial-inner h2 {
    text-align-last: center;
  }

  .testimonial-inner p {
    text-align: center;
  }

  .test-p {
    position: relative;
    bottom: 0px;
    font-size: 9px;
    text-align: center;
  }

  .test-name {
    position: absolute;
    right: 80px;
  }

  .test-country {
    position: absolute;
    bottom: 30px;
    right: 65px
  }

  .carousel-indicators {
    right: -30px
  }

  #footer-inner {
    display: block;
  }

  #social-media {
    margin-top: 25px;
  }

  #footer-lower {
    display: inline-block;
  }

  .featurette-divider {
    margin-top: 150px;

  }

  #about-row {
    display: block;
  }

  .team-main {
    display: grid;
    justify-content: center;
    margin-left: 0px;
    margin-right: 40px;
  }

  #team-title {
    margin-left: 50px;
  }
}
 /* iPhone SE */
 @media screen and (min-width: 374.5px) and (max-width: 390px){
#root {
    width: 100%;
  }

  #search-bar {
    width: 350px;
  }

  #carousel {
    height: 200px;
  }

  .carousel-inner {}

  .carousel-control-next {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  #carousel-logo {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: -110px;
    left: -50px;
  }

  #mail-logo {
    display: none;
  }

  #carousel-image {
    height: 450px
  }

  #carousel-caption {
    margin-bottom: -90px;
  }

  #carousel-caption h1 {
    font-size: 30px;
  }

  #carousel-caption h5 {
    font-size: 18px;
  }

  #carousel-caption p {
    display: none;
  }

  #carousel-button {
    height: 60px;
    width: 200px;
    margin-bottom: 150px;
  }

  #carousel-btn-caption {
    font-size: 14px;
  }

  #about-caption {
    position: relative;
    bottom: 300px;
  }

  #about-text {
    margin-top: 250px;
  }

  #about-img {
    position: absolute;
    height: 300px;
  }

  #about-p {
    font-size: 14px;
  }

  #category-main {
    height: 160px;
    margin-bottom: 120px;
  }

  #category-inner {
    height: 100px;
  }

  #category-main img {
    width: 75px;
    height: 100px;
  }

  #category-main p {
    font-size: 12px;
    text-align: center;
  }

  #category-header {
    margin-top: 40px;
  }

  #whyus-top {
    display: inline-block;
    word-break: break-all;
    margin: 0;
    margin-left: 0;
    padding: 0;
  }
  #whyus-top h5{
    font-size: 14px;
    text-align: left;
  }
  #whyus-top p{
    font-size: 10;
    text-wrap: balance;
  }
  #marketable-span{
    display: none;
  }

  .last-two {
    display: none;
  }

  #blog-span {
    display: none;
  }

  #testimonial-right {
    position: absolute;
  }

  .testimonial-inner {
    margin-left: 0px;
  }

  .testimonial-inner h2 {
    text-align-last: center;
  }

  .testimonial-inner p {
    text-align: center;
  }

  .test-p {
    position: relative;
    bottom: 0px;
    font-size: 9px;
    text-align: center;
  }

  .test-name {
    position: absolute;
    right: 80px;
  }

  .test-country {
    position: absolute;
    bottom: 30px;
    right: 65px
  }

  .carousel-indicators {
    right: -30px
  }

  #footer-inner {
    display: block;
  }

  #social-media {
    margin-top: 25px;
  }

  #footer-lower {
    display: inline-block;
  }

  .featurette-divider {
    margin-top: 150px;

  }
  #about-row{
    display: block;
  }

  .team-main {
    display: grid;
    justify-content: center;
    margin-left: 0px;
    margin-right: 40px;
  }

  #team-title {
    margin-left: 50px;
  }
}

/* Pixel 5 */

@media (min-width: 392.5px) and (max-width: 412px) {
  .whyus-caption{
    width: 170px;
  }
  #root {
      width: 100%;
    }
  
    #search-bar {
      width: 350px;
    }
  
    #carousel {
      height: 200px;
    }
  
    .carousel-inner {}
  
    .carousel-control-next {
      display: none;
    }
  
    .carousel-control-prev {
      display: none;
    }
  
    #carousel-logo {
      height: 100px;
      width: 100px;
      display: block;
      position: absolute;
      top: -110px;
      left: -50px;
    }
  
    #mail-logo {
      display: none;
    }
  
    #carousel-image {
      height: 450px
    }
  
    #carousel-caption {
      margin-bottom: -90px;
    }
  
    #carousel-caption h1 {
      font-size: 30px;
    }
  
    #carousel-caption h5 {
      font-size: 18px;
    }
  
    #carousel-caption p {
      display: none;
    }
  
    #carousel-button {
      height: 60px;
      width: 200px;
      margin-bottom: 150px;
    }
  
    #carousel-btn-caption {
      font-size: 14px;
    }
  
    #about-caption {
      position: relative;
      bottom: 300px;
    }
  
    #about-text {
      margin-top: 250px;
    }
  
    #about-img {
      position: absolute;
      height: 300px;
    }
  
    #about-p {
      font-size: 14px;
    }
  
    #category-main {
      height: 160px;
      margin-bottom: 120px;
    }
  
    #category-inner {
      height: 100px;
    }
  
    #category-main img {
      width: 75px;
      height: 100px;
    }
  
    #category-main p {
      font-size: 12px;
      text-align: center;
    }
  
    #category-header {
      margin-top: 40px;
    }
  
    #whyus-top {
      display: inline-block;
      word-break: break-all;
      margin: 0;
      margin-left: 0;
      padding: 0;
    }
  
    #whyus-top h5 {
      font-size: 14px;
      text-align: left;
    }
  
    #whyus-top p {
      font-size: 10;
      text-wrap: balance;
    }
  
    #marketable-span {
      display: none;
    }
  
    .last-two {
      display: none;
    }
  
    #blog-span {
      display: none;
    }
  
    #testimonial-right {
      position: absolute;
    }
  
    .testimonial-inner {
      margin-left: 0px;
    }
  
    .testimonial-inner h2 {
      text-align-last: center;
    }
  
    .testimonial-inner p {
      text-align: center;
    }
  
    .test-p {
      position: relative;
      bottom: 0px;
      font-size: 9px;
      text-align: center;
    }
  
    .test-name {
      position: absolute;
      right: 80px;
    }
  
    .test-country {
      position: absolute;
      bottom: 30px;
      right: 65px
    }
  
    .carousel-indicators {
      right: -30px
    }
  
    #footer-inner {
      display: block;
    }
  
    #social-media {
      margin-top: 25px;
    }
  
    #footer-lower {
      display: inline-block;
    }
  
    .featurette-divider {
      margin-top: 150px;
  
    }
  
    #about-row {
      display: block;
    }
  
    .team-main {
      display: grid;
      justify-content: center;
      margin-left: 0px;
      margin-right: 40px;
    }
  
    #team-title {
      margin-left: 50px;
    }

}

/* iphone XR & iPhone 11 */
@media (min-width: 413px) and (max-width: 420px) {
  body{
    /* background-color: tan; */
  }
  #root {
    width: 100%;
  }

  #search-bar {
    width: 350px;
  }
  #carousel {
    height: 200px;
  }
  .carousel-inner{

  }
  .carousel-control-next{
    display: none;
  }
  .carousel-control-prev {
    display: none;
  }
  #carousel-logo {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: -120px;
    left: -50px;
  }
  #mail-logo{
    display: none;
  }
  #carousel-image {
    height: 450px
  }

  #carousel-caption {
    margin-bottom: -90px;
  }

  #carousel-caption h1 {
    font-size: 30px;
  }

  #carousel-caption h5 {
    font-size: 18px;
  }

  #carousel-caption p {
    display: none;
  }

  #carousel-button {
    height: 60px;
    width: 200px;
    margin-bottom: 150px;
  }

  #carousel-btn-caption {
    font-size: 14px;
  }

  #about-caption {
    position: relative;
    bottom: 300px;
  }

  #about-text {
    margin-top: 250px;
  }

  #about-img {
    position: absolute;
    height: 300px;
  }

  #about-p {
    font-size: 14px;
  }
 
  #category-main{
    height: 160px;
    margin-bottom: 120px;
  }
  #category-inner{
    height: 100px;
  }
  #category-main img {
    width: 75px;
    height: 100px;
  }
  #category-main p{
    font-size: 12px;
    text-align: center;
  }

  #category-header {
    margin-top: 40px;
  }
  #whyus-top {
    display: inline-block;
  }

  .last-two {
    display: none;
  }

  #blog-span {
    display: none;
  }

  #testimonial-right {
    position: absolute;
  }

  .testimonial-inner {
    margin-left: 0px;
  }

  .testimonial-inner h2 {
    text-align-last: center;
  }

  .testimonial-inner p {
    text-align: center;
  }

  .test-p {
    position: relative;
    bottom: 0px;
    font-size: 9px;
    text-align: center;
  }

  .test-name {
    position: absolute;
    right: 80px;
  }

  .test-country {
    position: absolute;
    bottom: 30px;
    right: 65px
  }

  .carousel-indicators {
    right: -30px
  }

  #footer-inner {
    display: block;
  }

  #social-media {
    margin-top: 25px;
  }

  #footer-lower {
    display: inline-block;
  }
  .featurette-divider {
    margin-top: 150px;
  
  }
  .team-main{
    display: grid;
    margin-left: 10px;
  }
}

@media screen and (min-width: 430px) and (max-width: 435px){
  #root {
    width: 100%;
  }

  #search-bar {
    width: 350px;
  }
  #carousel-logo {
    height: 100px;
    width: 100px;
    display: block;
    position: relative;
    margin-bottom: 90px;
    right: 55px;
  }

  #mail-logo {
    display: none;
  }
  #carousel-image {
    height: 500px
  }

  #carousel-caption {
    margin-bottom: 50px;
  }

  #carousel-caption h1 {
    font-size: 30px;
  }

  #carousel-caption h5 {
    font-size: 18px;
  }

  #carousel-caption p {
    display: none;
  }

  #carousel-button {
    height: 60px;
    width: 200px
  }

  #carousel-btn-caption {
    font-size: 14px;
  }

  #about-caption {
    position: relative;
    bottom: 300px;
  }

  #about-text {
    margin-top: 250px;
  }

  #about-img {
    position: absolute;
    height: 300px;
  }

  #about-p {
    font-size: 14px;
  }

  #category-main img {
    width: 85px;
  }

  #category-header {
    margin-top: 40px;
  }

  #whyus-top {
    display: inline-block;
  }

  .last-two {
    display: none;
  }

  #blog-span {
    display: none;
  }

  #testimonial-right {
    position: absolute;
  }

  .testimonial-inner {
    margin-left: 0px;
  }

  .testimonial-inner h2 {
    text-align-last: center;
  }

  .testimonial-inner p {
    text-align: center;
  }

  .test-p {
    position: relative;
    bottom: 0px;
    font-size: 9px;
    text-align: center;
  }

  .test-name {
    position: absolute;
    right: 80px;
  }

  .test-country {
    position: absolute;
    bottom: 30px;
    right: 65px
  }

  .carousel-indicators {
    right: -30px
  }

  #footer-inner {
    display: block;
  }

  #social-media {
    margin-top: 25px;
  }

  #footer-lower {
    display: inline-block;
  }
  .featurette-divider {
    margin-top: 150px;
  }
  .team-main {
    display: grid;
    margin-left: 0px;
  }
}

/* iPhone 14 pro */
@media screen and (min-width: 588.5px) and (max-width: 595px){
  /* #carousel-logo {
  height: 100px;
  width: 100px;
  display: block;
  position: relative;
  margin-bottom: 285px;
  right: 80px;
  } */

 #root {
   width: 100%;
 }

 #search-bar {
   width: 500px;
 }

 #carousel {
   height: 200px;
 }

 .carousel-inner {}

 .carousel-control-next {
   display: none;
 }

 .carousel-control-prev {
   display: none;
 }

 #carousel-logo {
   height: 100px;
   width: 100px;
   display: block;
   position: absolute;
   top: -250px;
   left: -60px;
 }

 #mail-logo {
   display: none;
 }

 #carousel-image {
   height: 550px
 }

 #carousel-caption {
   margin-bottom: -90px;
 }

 #carousel-caption h1 {
   font-size: 30px;
 }

 #carousel-caption h5 {
   font-size: 18px;
 }

 #carousel-caption p {
   display: none;
 }

 #carousel-button {
   height: 60px;
   width: 200px;
   margin-bottom: 150px;
 }

 #carousel-btn-caption {
   font-size: 14px;
 }

 #about-caption {
   position: relative;
   bottom: 380px;
 }

 #about-text {
   margin-top: 330px;
 }

 #about-img {
   position: absolute;
   height: 360px;
 }

 #about-p {
   font-size: 14px;
 }

 #category-main {
   height: 160px;
   margin-bottom: 120px;
 }

 #category-inner {
   height: 100px;
 }

 #category-main img {
   width: 75px;
   height: 100px;
 }

 #category-main p {
   font-size: 12px;
   text-align: center;
 }

 #category-header {
   margin-top: 40px;
 }

 #whyus-top {
   display: inline-block;
   margin-left: 40px;
 }
 .marketable{
  margin-left: 100px;
 }

 .last-two {
   display: none;
 }

 #blog-span {
   display: none;
 }

 #testimonial-right {
   position: absolute;
 }

 .testimonial-inner {
   margin-left: 0px;
 }

 .testimonial-inner h2 {
   text-align-last: center;
 }

 .testimonial-inner p {
   text-align: center;
 }

 .test-p {
   position: relative;
   bottom: 0px;
   font-size: 9px;
   text-align: center;
 }

 .test-name {
   position: absolute;
   right: 80px;
 }

 .test-country {
   position: absolute;
   bottom: 30px;
   right: 65px
 }

 .carousel-indicators {
   right: -30px
 }

 #footer-inner {
   display: block;
 }

 #social-media {
   margin-top: 25px;
 }

 #footer-lower {
   display: inline-block;
 }
 .blog_feature_img{
  /* height: 150px; */
 }

 .featurette-divider {
   margin-top: 150px;

 }

 .team-main {
   display: grid;
   justify-content: center;
   margin-left: 0px;
   margin-right: 50px;
 }

 #team-title {
   margin-left: 50px;
 }
}

/* iPhone 14 pro max  */
@media screen and (min-width: 645px) and (max-width: 700px){
#root {
    width: 100%;
  }

  #search-bar {
    width: 500px;
  }

  #carousel {
    height: 200px;
  }

  .carousel-inner {}

  .carousel-control-next {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  #carousel-logo {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    top: -250px;
    left: -60px;
  }

  #mail-logo {
    display: none;
  }

  #carousel-image {
    height: 550px
  }

  #carousel-caption {
    margin-bottom: -90px;
  }

  #carousel-caption h1 {
    font-size: 30px;
  }

  #carousel-caption h5 {
    font-size: 18px;
  }

  #carousel-caption p {
    display: none;
  }

  #carousel-button {
    height: 60px;
    width: 200px;
    margin-bottom: 150px;
  }

  #carousel-btn-caption {
    font-size: 14px;
  }

  #about-caption {
    position: relative;
    bottom: 380px;
  }

  #about-text {
    margin-top: 330px;
  }

  #about-img {
    position: absolute;
    height: 360px;
  }

  #about-p {
    font-size: 14px;
  }

  #category-main {
    height: 160px;
    margin-bottom: 120px;
  }

  #category-inner {
    height: 100px;
  }

  #category-main img {
    width: 75px;
    height: 100px;
  }

  #category-main p {
    font-size: 12px;
    text-align: center;
  }

  #category-header {
    margin-top: 40px;
  }

  #whyus-top {
    display: inline-block;
  }

  .last-two {
    display: inline-block;
  }

  #blog-span {
    display: none;
  }

  #testimonial-right {
    position: absolute;
  }

  .testimonial-inner {
    margin-left: 0px;
  }

  .testimonial-inner h2 {
    text-align-last: center;
  }

  .testimonial-inner p {
    text-align: center;
  }

  .test-p {
    position: relative;
    bottom: 0px;
    font-size: 9px;
    text-align: center;
  }

  .test-name {
    position: absolute;
    right: 80px;
  }

  .test-country {
    position: absolute;
    bottom: 30px;
    right: 65px
  }

  .carousel-indicators {
    right: -30px
  }

  #footer-inner {
    display: block;
  }

  #social-media {
    margin-top: 25px;
  }

  #footer-lower {
    display: inline-block;
  }

  .featurette-divider {
    margin-top: 150px;

  }

  .team-main {
    display: grid;
   justify-content: center;
   margin-left: 0px;
   margin-right: 50px;
  }
  #team-title{
    margin-left: 50px;
  }
}